{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{% static 'inicio/estilo.css' %}" rel="stylesheet">
</head>

<body>
    <div class="pailogin">
        <div class="filhologin">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <label>Login:</label><br>
                <input type="text" name="tlogin" placeholder="login"><br>
                <label>Senha</label><br>
                <input type="password" name="tsenha" placeholder="senha"><br>
                <button type="submit" class="botao3">enviar</button>
            </form>
        </div>

    </div>
</body>

</html>