.pai {
    display: flex;
    flex-direction: column;
}

.filho1 {

    background-color: blue;
    color: white;
    width: 100%;
    height: 50px;
    text-align:center;
    font-size:30px;
    padding-top: 10px;
}

.filho2 {

    background-color: white;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    text-align:center;
}

.neto1 {

    width: 30%;
    height: 900px;
    background-color: rgb(216, 216, 216);
}

.neto2 {
    width: 70%;
    border: 1px solid black;
}

.botao1{
    width:170px;
}

.botao2{
    width: 170px;
}